@use "../../../styles/library" as *;

.contactsList {
	@include flex(row);
	flex-wrap: wrap;
	gap: 2em;

	padding: 0;
	margin: 0;
	overflow-y: auto;

	list-style: none;

	& > li {
		flex: 1 1 calc(50% - (var(--content-padding) * 2));

		@include flex(row);

		width: 100%;
	}
}

