@use "../../../styles/library" as *;

:global(#btn-sort-list) {
	position: absolute;
	top: calc(var(--content-padding-y) / 2);
	right: var(--content-padding-x);
}

.contactsList {
	position: relative;

	@include flex(row);
	flex-wrap: wrap;
	gap: 1em;

	padding: 0;
	margin: 0;
	overflow-y: auto;

	list-style: none;

	& > .contact {
		flex: 1 1 50ch;

		@include flex(row);

		width: 100%;
		max-width: calc(
			(var(--content-max-width) / 2) - (var(--content-padding-y) * 2)
		);

		@media screen and (prefers-reduced-motion: no-preference) {
			&.contact-appear {
				opacity: 0;
				transform: scale(0);
			}
			&.contact-appear-active {
				transition:
					opacity var(--transition),
					transform var(--transition);
			}
			&.contact-appear-active,
			&.contact-appear-done {
				opacity: 1;
				transform: scale(1);
			}

			&.contact-enter {
				opacity: 0;
				transform: scale(0);
			}
			&.contact-enter-active {
				transition:
					opacity var(--transition),
					transform var(--transition);
			}
			&.contact-enter-active,
			&.contact-enter-done {
				opacity: 1;
				transform: scale(1);
			}

			&.contact-exit {
				opacity: 1;
				transform: scale(1);
			}
			&.contact-exit-active {
				transition:
					opacity var(--transition),
					transform var(--transition);
			}
			&.contact-exit-active,
			&.contact-exit-done {
				opacity: 0;
				transform: scale(0);
			}
		}
	}
}
