@use "../../../styles/library" as *;

.contactsList {
	@include flex(row);
	flex-wrap: wrap;
	gap: 1em;

	padding: 0;
	margin: 0;
	overflow-y: auto;

	list-style: none;

	& > li {
		flex: 1 1 50ch;

		@include flex(row);

		width: 100%;
		max-width: calc(
			(var(--content-max-width) / 2) - (var(--content-padding-y) * 2)
		);
	}
}

:global(#btn-sort-list) {
	position: absolute;
	top: calc(var(--content-padding-y) / 2);
	right: var(--content-padding-x);
}
