.loader {
	display: block;

	max-width: 10em;
	max-height: 10em;
	margin: auto;
	color: var(--color_active-bg);

	shape-rendering: auto;
}

.message {
	max-width: 50%;
	padding: 1rem;
	margin: auto;

	color: var(--color-foreground);
	text-align: center;

	background-color: var(--color-background-alt);
	border-radius: 2rem;
	box-shadow: var(--box-shadow);
}
