@use "../../styles/library" as *;

.button,
.buttonLink,
.buttonIcon {
	margin: 0.5rem;

	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	@include border;

	box-shadow: var(--box-shadow);


	&.default {
		color: var(--color_action-fg);
		background-color: var(--color_action-bg);
		border: var(--border);
	}
	&.red {
		color: var(--color_error-fg);
		background-color: var(--color_error-bg);
		border-color: var(--color_error-bg);
	}
	&.green {
		color: var(--color_success-fg);
		background-color: var(--color_success-bg);
		border-color: var(--color_success-bg);
	}
	&.blue {
		color: var(--color_info-fg);
		background-color: var(--color_info-bg);
		border-color: var(--color_info-bg);
	}

	@include focus;
	@include hover;

	@media (prefers-reduced-motion: no-preference) {
		transition:
			color var(--transition),
			background-color var(--transition),
			border-color var(--transition);
	}
}

.button,
.buttonLink {
	min-width: 10ch;
	padding: 0.5rem 1rem;

	border-radius: 0.25rem;
}

.buttonIcon {
	@include size(1.5em);
	font-size: 1.5em;

	border-radius: 50%;
}
