@use "../../../styles/library" as *;

.contactBox {
	--box-gap: 0.5rem;

	display: flex;
	gap: var(--box-gap);
	justify-content: space-between;

	width: 100%;
	min-width: 0;
	height: 100%;
	padding: var(--box-gap);

	color: var(--color-foreground-alt);

	background-color: var(--color-background-alt);
	border: var(--border);
	box-shadow: var(--box-shadow);

	& .profile {
		--profile-size: min(6rem, 15vw);

		flex-shrink: 0;
		place-self: center;

		@include size(var(--profile-size));

	}

	& .details {
		@include flex(column, center, flex-start);

		min-width: 0;

		& > p {
			width: 100%;
			margin: var(--box-gap);

			&.name {
				--id-size: 1.5rem;

				position: relative;

				display: flex;

				@media screen and (max-width: 50ch) {
					flex-direction: column;
				}

				& > .contactId {
					position: absolute;
					top: 0;
					left: 0;

					@include flex(column);

					@include size(var(--id-size));

					font-size: smaller;
					text-align: center;
					user-select: none;

					background-color: var(--color-background);
					border-radius: 50%;
				}
				& > .firstName {
					--spacing: 0.5ch;

					margin-right: var(--spacing);
					margin-left: calc(var(--id-size) + var(--spacing));
					font-size: larger;
					text-transform: uppercase;
				}
				& > .lastName {
					font-size: larger;
					font-weight: bolder;
				}
			}

			&.job {
				font-style: italic;
			}

			&.description {
				font-size: smaller;
			}

		}
	}

	& .buttons {
		display: flex;
	}

	&[aria-expanded="false"] {
		flex-direction: row;

		& > .details {
			& > .name > .firstName,
			& > .name > .lastName,
			& > .job,
			& > .description {
				overflow: hidden;

				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}

		& > .buttons {
			flex-direction: column;
		}
	}
	&[aria-expanded="true"] {
		flex-direction: column;

		& > .buttons {
			flex-direction: row;

			margin: auto auto 0;
		}

	}
}
