@use "../../styles/library" as *;

.contactBox {
	--box-height: 12em;
	--box-gap: 0.5rem;

	&[aria-expanded="false"] {
		--box-height: 12em;

		@include flex(row);


		& .profile {
			@media screen and (max-width: 50ch) {
				display: none;
			}
		}

		& .description {
			width: 20ch;
			overflow: hidden;

			text-overflow: ellipsis;
			white-space: nowrap;
		}

		& .buttons {
			@include flex(column);
		}
	}
	&[aria-expanded="true"] {
		--box-height: 100%;

		@include flex(column);

		max-width: 120ch;
		margin: 0 auto;

		& .buttons {
			@include flex(row, center, flex-end);
		}
	}

	position: relative;

	@include flex(row);
	gap: var(--box-gap);

	width: min(80ch, 95vw);
	height: var(--box-height);
	padding: var(--box-gap);

	color: var(--color-foreground-alt);

	background-color: var(--color-background-alt);
	border: var(--border);
	box-shadow: var(--box-shadow);

	& .profile {
		--min-profile-size: 6em;

		min-width: var(--min-profile-size);
		min-height: var(--min-profile-size);

		& > svg {
			@include size(100%);
		}

		/* @media screen and (max-width: 40ch) { */
		/* 	display: none; */
		/* } */
	}

	& .details {
		@include flex(column, center, flex-start);

		@include size(100%);

		& > p {
			margin: var(--box-gap);

			&.name {
				@include flex(row, flex-start);
				gap: 0.25ch;
				line-height: 1em;

				& > .contactId {
					@include flex(row);

					@include size(1.5rem);

					font-size: smaller;
					text-align: center;

					background-color: var(--color-background);
				}
				& > .firstName {
					font-size: larger;
					text-transform: uppercase;
				}
				& > .lastName {
					font-size: larger;
					font-weight: bolder;
				}
			}

			&.job {
				font-style: italic;
			}

			&.description {
				font-size: smaller;
			}
		}
	}

	.buttons {
		@include flex(column, flex-start);

		height: 100%;
	}
}
