@import "../../node_modules/@xeho91/colors";

:root {
	/* Core  */
	--color-background: var(--color-clairvoyant);
	--color-background-alt: var(--color-mulberry);

	--color-foreground: var(--color-terracotta);
	--color-foreground-alt: var(--color-calico);

	/* CRUD */
	--color_create-fg: var(--color-pampas);
	--color_create-bg: var(--color-woodland);

	--color_receive-fg: var(--color-kilamanjaro);
	--color_receive-bg: var(--color-calico);

	--color_update-fg: var(--color-pampas);
	--color_update-bg: var(--color-azure);

	--color_destroy-fg: var(--color-pampas);
	--color_destroy-bg: var(--color-cardinal);

	/* Feedback */
	--color_error-fg: var(--color-pampas);
	--color_error-bg: var(--color-cardinal);

	--color_info-fg: var(--color-pampas);
	--color_info-bg: var(--color-azure);

	--color_success-fg: var(--color-pampas);
	--color_success-bg: var(--color-woodland);

	--color_warning-fg: var(--color-background);
	--color_warning-bg: var(--color-pizza);

	/* States */
	--color_disabled-fg: hsla(var(--calico_HSL), 0.77);
	--color_disabled-bg: var(--color-mahogany);

	--color_enabled-fg: var(--color-kilamanjaro);
	--color_enabled-bg: var(--color-terracotta);

	--color_focused-bg: var(--color-pampas);
	--color_focused-fg: var(--color-clairvoyant);

	--color_hovered-fg: var(--color-kilamanjaro);
	--color_hovered-bg: var(--color-jade);

	--color_valid-fg: var(--color-pampas);
	--color_valid-bg: var(--color-woodland);

	--color_invalid-fg: var(--color-pampas);
	--color_invalid-bg: var(--color-cardinal);

	--color_active-fg: var(--color-kilamanjaro);
	--color_active-bg: var(--color-calico);

	--color_inactive-fg: var(--color-pampas);
	--color_inactive-bg: var(--color-corduroy);

	/* Other */
	--gradient:
		var(--color-clairvoyant),
		var(--color-mulberry),
		var(--color-disco),
		var(--color-punch),
		var(--color-terracotta);
}
