@use "../../../styles/library" as *;

.pageHeader {
	@include flex(row, space-between, center);

	height: var(--header-height);
	padding: 1.5rem var(--content-padding-x);

	background-color: var(--color-background);
}
