@use "../../styles/library" as *;

.pageHeader {
	@include flex(row, space-between, center);

	height: var(--header-height);
	padding: 0 var(--content-padding);

	background-color: var(--color-background);
}
