@use "../../styles/library" as *;

.dialog {
	&.overlay {
		position: absolute;
		inset: 0;
		z-index: 1;
	}

	@include flex(column);

	background-color: var(--color-overlay);

	& > .container {
		@include size(100%);
		padding: 1rem;

		color: var(--color_active-fg);

		background-color: var(--color_warning-bg);
		border-radius: 0.25rem;
		box-shadow: var(--box-shadow);

		& > .buttons {
			width: 100%;
			margin: 0 auto;
		}
	}

	@media screen and (prefers-reduced-motion: no-preference) {
		&.dialog-enter {
			opacity: 0;

			& > .container {
				transform: scale(0.5);
			}
		}
		&.dialog-enter-active {
			transition: opacity var(--transition);

			/* stylelint-disable-next-line a11y/media-prefers-reduced-motion */
			& > .container {
				transition: transform var(--transition);
			}
		}
		&.dialog-enter-active,
		&.dialog-enter-done {
			opacity: 1;

			& > .container {
				transform: scale(1);
			}
		}

		&.dialog-exit {
			opacity: 1;
		}
		&.dialog-exit-active {
			transition: opacity var(--transition);
		}
		&.dialog-exit-active,
		&.dialog-exit-done {
			opacity: 0;
		}
	}
}
