@import "../node_modules/modern-normalize/modern-normalize.css";

@import "./styles/library/colors.scss";
@import "./styles/library/miscelaneous.scss";

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

