@charset "UTF-8";

@use "./styles/library" as *;

@import "../node_modules/modern-normalize/modern-normalize";

@import "./styles/colors.scss";
@import "./styles/miscelaneous.scss";
@import "./styles/layout.scss";


body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#app {
	display: grid;
	grid-template-areas:
		"header"
		"content";
	grid-template-rows: var(--header-height) var(--content-height);

	@include size(100%);

	background: linear-gradient(180deg, var(--gradient));

	& > main {
		position: relative;

		grid-area: content;

		padding: 1.5rem var(--content-padding);
		overflow-y: auto;
		scroll-behavior: smooth;

		& > h1 {
			margin: 0 0 2rem;

			color: var(--color-foreground);
			text-align: center;
			text-shadow: var(--text-shadow);
		}
	}
}
