@use "./styles" as *;

@import "../node_modules/modern-normalize/modern-normalize.css";

// Colors
:root {
	// Core
	--color-primary: hsla(297deg, 84%, 10%, 1);
	--color-secondary: hsla(27deg, 72%, 59%, 1);

	// Miscelaneous
	--color-shadow: hsla(22deg, 85%, 8%, 1);
	--color-border: hsla(0deg, 0%, 0%, 1);
	--color-box: hsla(26deg, 56%, 73%, 1);

	// Feedback colors
	--color-green: hsla(108deg, 39%, 28%, 1);
	--color-blue: hsla(215deg, 51%, 39%, 1);
	--color-red: hsla(351deg, 73%, 40%, 1);
	--color-yellow: hsla(44deg, 83%, 44%, 1);
	--color-white: hsla(60deg, 24%, 96%, 1);
}

// Page components properties
:root {
	--header-height: 6em;
}

body {
	max-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;

	background-color: var(--color-white);
}

h1 {
	text-align: center;
}

#app {
	@include size(100%);

	background-color: var(--color-white);
}

[hidden] {
	display: none !important;
}
