// Core
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);

// Miscelaneous
$color-shadow: var(--color-shadow);
$color-border: var(--color-border);
$color-box: var(--color-box);

// Feedback colors
$color-green: var(--color-green);
$color-blue: var(--color-blue);
$color-red: var(--color-red);
$color-yellow: var(--color-yellow);
$color-white: var(--color-white);
