@mixin flex($direction, $placeX: center, $placeY: center) {
	display: flex;
	flex-direction: $direction;

	@if $placeX {
		place-content: $placeX;
	}

	@if $placeY {
		place-items: $placeY;
	}
}

@mixin size($size) {
	width: $size;
	height: $size;
}

@mixin border {
	border-color: var(--color-border);
	border-style: var(--border-style);
	border-width: var(--border-width);
}

/* stylelint-disable a11y/selector-pseudo-class-focus */
@mixin hover {
	&:hover {
		color: var(--color_hovered-fg);
		background-color: var(--color_hovered-bg);
		border-color: var(--color_hovered-bg);
		@content;
	}
}

@mixin focus() {
	&:focus {
		color: var(--color_focused-fg);
		background-color: var(--color_focused-bg);
		border-color: var(--color_focused-bg);
		@content;
	}
}
/* stylelint-enable a11y/selector-pseudo-class-focus */

