:root {
	--border-width: 2px;
	--border-style: solid;
	--color-border: var(--color-calico);
	--border: var(--border-width) var(--border-style) var(--color-border);
}

:root {
	--outline-width: 2px;
	--outline-style: solid;
	--color-outline: var(--color-calico);
	--outline: var(--outline-width) var(--outline-style) var(--color-outline);
}

:root {
	--shadow-offsetX: 0;
	--shadow-offsetY: 2px;
	--shadow-blur: 5px;
	--shadow-spread: 0px;
	--color-shadow: hsla(var(--kilamanjaro_HSL), 0.75);
	--box-shadow:
		var(--shadow-offsetX)
		var(--shadow-offsetY)
		var(--shadow-blur)
		var(--shadow-spread)
		var(--color-shadow);
	--text-shadow:
		var(--shadow-offsetX)
		var(--shadow-offsetY)
		var(--shadow-blur)
		var(--color-shadow);
}

:root {
	--transition-duration: 0.25s;
	--transition-function: ease-in-out;
	--transition: var(--transition-duration) var(--transition-function);
}
