@use "../../styles/library" as *;

.contactsList {
	@include flex(row);
	flex-wrap: wrap;
	gap: 2em;

	padding: 0;
	margin: 0;
	overflow-y: auto;

	list-style: none;

	& > li {
		flex: 1 1 calc(50% - (var(--content-padding) * 2));

		width: 100%;
	}
}

.button {
	background-color: var(--color-white);
}

